/* start variabels */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
/* end variabels */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  font-size: 30px;
  text-transform: uppercase;
  border: 2px solid black;
  width: fit-content;
  margin: 0 auto 80px;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
}

.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}

.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.5s;
}

.main-title::before, 
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  left: -30px;
}

.main-title::after {
  right: -30px;
}
/* end global rules */

/* start header  */
.header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #777;
  -ms-box-shadow: 0 0 10px #777;
  -moz-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .logo {
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}  

@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  color: black;
  padding: 0 30px 0;
  position: relative;
  text-transform: capitalize;
  font-size: 20px;
  overflow: hidden;
  transition: var(--main-transition);
}

.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 0 10px;
    font-size: 15px;
    height: 40px;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}

.header .main-nav > li > a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 30px;
  border-bottom: 3px solid var(--main-color);
  background-color: white;
  z-index: -1;
  display: flex;
  gap: 40px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}

.header .mega-menu .image img {
  /* fit area image  */
  max-width: 100%;
}

@media (max-width: 992px) {
  .header .mega-menu .image img {
    display: none;
  }
}

.header .mega-menu .links {
  /* fit area */
  min-width: 240px;
  flex: 1;
}

.header .mega-menu .links li {
  position: relative;
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #ececec;
}

@media (max-width: 767px) {
  .header .mega-menu .links li [href="#how"] {
    border-bottom: 1px solid #ececec;
  }
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  background-color: #fafafa;
  height: 100%;
  width: 0;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--main-color);
  display: block;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
}

.header .mega-menu .links li a i {
  margin-right: 15px;
}

/* end header  */
/* start landing  */
.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: left top;
}

.landing .container {
  height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 130px;
}

.landing .text {
  /* becouse he want trust about area  */
  flex: 1;
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}

.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 25px;
  }
}

.landing .text p { 
  color: #777;
  font-size: 25px;
  line-height: 1.6;
  margin: 5px 0;
  /* becouse we need it inside area */
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text p {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}

.landing .image img {
  width: 600px;
  /* force postion to animation  */
  position: relative;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}

.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
}

.landing .go-down:hover {
  color: var(--main-color-alt);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}
/* end landing  */

/* start articles */
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .box {
  --webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.205);
  --moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.205);
  --ms-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.205);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.205);
  background-color: white;
  /* overflow to visule radius */
  border-radius: 5px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.512);
}

.articles .container .box  img {
  max-width: 100%;
}

.articles .box .content {
  padding-left: 20px;
}

.articles .box .content h3 {
  text-transform: capitalize;
}
.articles .box .content p {
  color: #777;
  line-height: 1.6;
  margin-top: -5px;
}

.articles .box .info {
  border-top: 1px solid #ECECEC;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
}

.articles .box .info i {
  color: var(--main-color);
}

.articles .box:hover .info i {
  animation: arrow 0.5s  linear infinite;
}
/* end articles */
/* start gallery  */
.gallery {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
  background-color: var(--section-background);
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 13%), 0 12px 20px rgba(0, 0, 0, 12%);
}

.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image::before {
  content: "";
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 20%);
  opacity: 0;
  z-index: 2;
}

.gallery .container .box .image:hover::before {
  animation: flashing 0.7s;
}

.gallery .container .box img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
/* end gallery  */
/* start features  */
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
  background-color: white;
}

.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .box {
  text-align: center;
  border: 1px solid #ccc;
}

.features .box .img-holder {
  position: relative;
  overflow: hidden;
}

.features .box .img-holder::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.features .box .img-holder::after {
  content:"";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 460px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}

.features .box:hover .img-holder::after {
  border-width: 0px 460px 170px 0px;
}

.features .box .img-holder img {
  max-width: 100%;
}

.features .box h2 {
  position: relative;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}

.features .box h2::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  width: calc(100% - 30px);
  height: 5px;
  background-color: red;
}

.features .box p {
  line-height: 2;
  color: #777;
  margin: 30px 0;
  padding: 25px;
  font-size: 20px;
}

.features .box a {
  display: block;
  border: 3px solid transparent;
  width: fit-content;
  margin: 0 auto 30px;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  transition: var(--main-transition);
}

.features .quality .img-holder::before {
  background-color: #f440368c;
}

.features .quality h2::after {
  background-color: #f44036;
}

.features .quality a {
  color: #f44036;
  border-color: #f44036;
  border-radius: 6px;
  background: linear-gradient(to right, #f44036 50% , white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .box:hover  a {
  color: white;
  background-position: left bottom;
}

.features .time .img-holder::before {
  background-color: #00968891;
}

.features .time h2::after {
  background-color: #009688;
}

.features .time a {
  border-color: #009688;
  border-radius: 6px;
  color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.features .passion .img-holder::before {
  background-color: #03a9f49e;
}

.features .passion h2::after {
  background-color: #03a9f4;
}

.features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  border-radius: 6px;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
/* end features  */
/* start testimomials  */
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
  background-color: var(--section-background);
} 

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.testimonials .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.168);
  border-radius: 6px;
  position: relative;
}

.testimonials .container .box img {
  position: absolute;
  width: 100px;
  height: 100px;
  right: -10px;
  top: -50px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}

.testimonials .container .box h3 {
  margin: 0 0 10px;
  text-transform: capitalize;
}

.testimonials .container .box .title {
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 10px;
  display: block;
}

.testimonials .box .rate .filled {
  color: #ffc107;
}

.testimonials .box p {
  line-height: 1.6;
  color: #777;
  margin-bottom: 0;
}
/* end testimomials  */
/* start team  */
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.team .container .box {
  position: relative;
}

.team .container .box::before,
.team .container .box::after {
  content: "";
  position: absolute;
  background-color: #f3f3f3;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: 10px;
  transition: var(--main-transition);
}

.team .container .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}

.team .container .box::after {
  background-color: #e4e4e4e4;
  width: 0;
  z-index: -1;
}

.team .container .box:hover::after {
  width: calc(100% - 60px);
}

.team  .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
}

.team  .box:hover img {
  filter: grayscale(100%);
}

.team .container .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.team  .box .data .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  gap: 20px;
}

.team  .box .data .social  a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  transition: var(--main-transition);
}

.team  .box .data .social  a:hover  i {
  color: var(--main-color);
}

.team  .box .data .social  i {
  color: #777;
}

.team  .box  .info {
  padding-left: 80px;
}

.team  .box  .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 20px;
}

.team  .box:hover .info h3 {
  color: #777;
}

.team  .box  .info p {
  margin-bottom: 20px;
  margin-top: 10;
}
/* end team  */
/* start servicer  */
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  /* seprator background */
  position: relative;
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 13%), 0 2px 4px 0 rgba(0, 0, 0, 12%);
  position: relative;
  counter-increment: services;
  transition: var(--main-transition);
}

.services .container .box::before {
  content: "";
  position: absolute;
  top: -3px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  width: 0;
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box:hover::before {
  width: 100%;
}

.services .container .box > i {
  display: block;
  margin: 40px auto 20px;
  text-align: center;
  color: #d5d5d5;
}

.services .container .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--main-color);
  text-transform: capitalize;
}

.services .container .box .info {
  position: relative;
  text-align: right;
  padding: 15px;
  background-color: #f9f9f9;
}

.services .container .box .info a {
  color: var(--main-color);
  text-transform: capitalize;
}

.services .container .box .info::before {
  content: "0" counter(services);
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  background-color: var(--main-color);
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}

.services .container .box .info::after {
  content: "";
  position: absolute;
  background: #d5d5d5;
  height: 100%;
  width: 50px;
  left: 80px;
  top: 0;
  transform: skewX(-30deg);
}
/* end servicer  */
/* start skills  */
.our-skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skill h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skill h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}
.our-skills .skill .the-progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .skill .the-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.5s linear;
}
/* end skills  */
/* start works  */
.works {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  /* seprator background */
  position: relative;
}

.works .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .works .container {
    flex-direction: column;
  }
}

.works .container img {
  max-width: 100%;
  margin-right: 100px
}

@media (max-width: 991px) {
  .works .container img {
    margin: 0 0 50px;
  }
}

.works .container .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media (max-width:767px) {
  .works .container .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.works .container .info .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  width: 0px;
  height: 0px;
  z-index: -1;
  transition: var(--main-transition);
}

.works .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.works .container .info .box img {
  width: 64px;
  margin-right: 30px;
}

@media (max-width:767px) {
  .works .container .info .box img {
    margin: 0 0 20px;
  }
}

.works .container .info .box h3 {
  margin: 0;
  font-size: 22px;
  text-transform: capitalize;
}

.works .container .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10 0 0;
  font-size: 18px;
}
/* end works  */
/* start events  */
.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  /* seprator background */
  position: relative;
}

.events .dots {
  background-image: url(../imgs/dots.png);
  position: absolute;
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .events .dots {
    display: none;
  }
}
.events .dots-up {
  top:200px;
  right: 0;
}

.events .dots-down {
  bottom: 200px;
  left: 0;
} 

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.events .container img {
  max-width: 450px;
}

@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}

.events .container .info {
  flex: 1;
}

.events .info .time {
  display: flex;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  gap: 10px;
}

.events .info .time .unit {
  border: 1px solid #D4D4D4;
  border-radius: 6px;
  width: 75px;
  text-align: center;
  transition: var(--main-transition);
}

.events .info .time .unit:hover, 
.events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}

.events .info .time .unit span {
  display: block;
}

.events .info .time .unit span:first-child {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  color: var(--main-color);
}

.events .info .time .unit span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #D4D4D4;
  transition: var(--main-transition);
}

.events .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 31px;
}

.events .info .describtion {
  font-size: 18px;
  line-height: 1.7;
  color: #777;
  text-align: center;
}

.events .container .subscribe {
  width: 100%;
  margin-top: 100px;
}

.events .container .subscribe form {
  width: 600px;
  background-color: #f6f5f5;
  margin: 20px auto;
  padding: 30px 40px;
  display: flex;
  gap: 20px;
  border-radius: 50px;
}

@media (max-width: 767px) {
  .events .container .subscribe form {
    max-width: 100%;
    border-radius: 0;
    padding: 20px;
    flex-direction: column;
  }
}

.events .container .subscribe form input[type="email"] {
  padding: 20px;
  flex: 1;
  border: none;
  border-radius: 50px;
  caret-color: var(--main-color);
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="email"] {
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .container .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}

.events .container .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .container .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}

@media (max-width: 767px) {
  .events .container .subscribe form input[type="submit"] {
    border-radius: 0;
  }
}

.events .container .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* end events  */
/* start pricing  */
.pricing {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--section-background);
  /* seprator background */
  position: relative;
}

.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.pricing .container .box {
  background-color: white;
  position: relative;
  text-align: center;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 13%), 0 12px 20px rgba(0, 0, 0, 12%);
  z-index: 1;
  transition: var(--main-transition);
}

.pricing .container .box::before, 
.pricing .container .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: var(--main-transition);
}

.pricing .container .box::before {
  left: 0;
  top: 0;
}

.pricing .container .box::after {
  right: 0;
  bottom: 0;
}

.pricing .container .box:hover::before, 
.pricing .container .box:hover::after {
  width: 100%;
}

@media (min-width: 1200px) {
  .pricing .box.popular {
    top:  -20px;
  }
}

.pricing .box.popular .label {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  font-weight: bold;
  right: 20px;
  width: 40px;
  transition: var(--main-transition);
}

.pricing .box.popular .label::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-color: transparent transparent white transparent ;
  border-width: 20px;  
}

.pricing .box .title {
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  letter-spacing: -1px;
  margin: 30px 0;
}

.pricing .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing .box .price {
  margin-bottom: 20px;
}

.pricing .box .price .amount{
  font-size: 62px;
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 5px;
  display: block;
}

.pricing .box .price .time {
  color: #777;
  text-transform: capitalize;
}

.pricing .box ul {
  text-align: left;
}

.pricing .box ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}

.pricing .box ul li::before {
  font-family: "font awesome 5 free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}

.pricing .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: var(--main-transition);
}

.pricing .box a:hover {
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
  color: white;
}
/* end pricing  */
/* start videos  */
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}

@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}

.videos .holder .list {
  min-width: 300px;
  background-color: white;
}

.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--main-color);
  background-color: #f4f4f4;
}

.videos .holder .list ul li {
  padding: 30px;
  border-bottom: 1px solid var(--section-background);
  transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.videos .holder .list ul li span {
  display: block;
  color: #777;
  margin-top: 10px;
}

.videos .holder .preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e2e2e2;
  padding: 10px;
}

.videos .holder .preview img {
  max-width: 100%;
}

.videos .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin: 10px;
}
/* end videos  */
/* start stats  */
.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  min-height: 300px;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 95%);
}

.stats h2 {
  text-align: center;
  font-size: 40px;
  text-transform: capitalize;
  position: relative;
  margin: 0 auto 50px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;  
}

.stats .container .box {
  background-color: white;
  position: relative;
  padding: 30px 15px;
  text-align: center;
  opacity: 0.8;
  transition: var(--main-transition);
}

.stats .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: 1s;
}

.stats .container .box:hover::before {
  width: 2px;
  height: 100%;
}

.stats .container .box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  width: 0;
  height: 0;
  transition: 1s;
}

.stats .container .box:hover::after {
  width: 2px;
  height: 100%;
}

.stats .container .box .number {
  display: block;
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.stats .container .box .title {
  font-size: 21px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: capitalize;
  font-style: italic;
}
/* end stats  */
/* start discount  */
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .discount {
    flex-direction: column;
  }
}

.discount .box-left {
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
  text-align: center;
  width: calc(100% - 50% );
}

@media (max-width: 991px) {
  .discount .box-left {
    width: 100%;
  }
}

.discount .box-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}

.discount .box-left .content {
  padding-top: 40px;
  margin-bottom: 20ox;
}

@media (max-width: 991px) {
  .discount .box-left .content {
    padding-top: 0px;
  }
}

.discount .box-left h3 {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: -2px;
}

.discount .box-left div {
  color: white;
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 10px;
}


.discount .box-left  img {
  width: 300px;
  max-width: 100%;
}

.discount .box-right {
  text-align: center;
  margin: 80px auto;
}

@media (max-width: 991px) {
  .discount .box-right {
    margin-top: 10px;
  }
}

.discount .box-right h3 {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: -2px;
}

.discount .box-right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.discount .box-right form input {
  display: block;
  background-color: #f6f5f5;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px 15px 12px;
  text-transform: capitalize;
}

.discount .box-right form input:focus,
.discount .box-right form textarea:focus{
  outline: none;
  caret-color: var(--main-color-alt);
}

.discount .box-right form textarea {
  background-color: #f6f5f5;
  border: none;
  padding: 10px 0 0 10px;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.discount .box-right form input:last-child {
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* end discount  */
/* start footer  */
.footer {
  background-color: #191919;
  padding: 50px 0 0;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.footer .container .box h3 {
  color: white;
  font-size: 30px;
  text-transform: capitalize;
}

.footer .container .box .social {
  display: flex;
}

.footer .container .box .social li {
  margin-right: 10px;
}

.footer .container .box .social .facebook:hover {
  background-color: rgb(16, 16, 217);
}

.footer .container .box .social .twitter:hover {
  background-color: var(--main-color);
}

.footer .container .box .social .youtube:hover {
  background-color: red;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}

.footer .box p {
  color: #b9b9b9;
  line-height: 2;
}

.footer .box .links {
  text-align: left;
  margin-top: 50px;
}

.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:not(:last-child)  {
border-bottom: 1px solid #444;
}

.footer .box .links li a {
  color: #b9b9b9;
  text-transform: capitalize;
  letter-spacing: 0;
  font-size: 17px;
  position: relative;
  transition: var(--main-transition);
}

.footer .box .links li a:hover {
  color: white;
}

.footer .box .links li a::before {
  content: "\F101";
  font-family: "font awesome 5 free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.box .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
}

.box .link i {
  margin-right: 10px;
  color: var(--main-color);
  font-size: 25px;
}

.box .link .info {
  color: #b9b9b9;
  line-height: 1.5;
}

.footer .box .line .info span {
  display: block;
}

.footer .footer-gallery {
  transform: translateY(55px);
}

.footer .footer-gallery img {
  width: 78px;
  margin: 2px;
  border: 3px solid white;
}

.footer .copyright {
  color: white;
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #444;
  margin: 50px 0 0;
}
/* end footer  */
/* start animation  */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  
}

@keyframes  bouncing {
  0%, 
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-10px);
  }
  
}

@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 50%;
    height: 100%;
  }
}

@keyframes arrow {
  100% {
    transform: translateX(10px);
  }
}

@keyframes flashing {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@keyframes flashing-work {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* end animation  */
